{% extends "dp/base.html" %}

{% block content %}
    {% load static %}
    {% load extratags %}
    <link rel="stylesheet" type="text/css" href="{% static 'dp/css/index.css' %}"/>
    {% if user.employee.position == "manager" or user.is_superuser %}

        <div class="limiter">
        <div class="container">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver1 m-b-110">
                        <br>
                        <div class="ttl">
                            <h2>Portfolios</h2>
                            <span class="sexy_line"></span>
                        </div>
                        <table data-vertable="ver1">
                            <thead>
                            <tr class="row100 head">
                                <th class="column100 column1" data-column="column1">Portfolio</th>
                                <th class="column100 column2" data-column="column2">Description</th>
                                <th class="column100 column3" data-column="column3">Manager</th>

                            </tr>
                            </thead>
                            <tbody>


                            {% if latest_portfolio_list %}
                                <ul>
                                    {% for portfolio in latest_portfolio_list %}
                                        <tr class="row100">
                                            <td class="column100 column1" data-column="column1">
                                                <a href="{% url 'dp:portfolio_detail' portfolio.id %}">{{ portfolio.portfolio_name }}</a>
                                            </td>
                                            <td class="column100 column2" data-column="column2">
                                                {{ portfolio.description }}
                                            </td>
                                            <td class="column100 column3" data-column="column3">
                                                {% if portfolio.portfolio_manager %}
                                                    <a href="{% url 'dp:employee_detail' portfolio.portfolio_manager.id %}"> {{ portfolio.portfolio_manager.user.first_name }} {{ portfolio.portfolio_manager.user.last_name }}</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>No portfolios are available.</p>
                            {% endif %}

                            </tbody>

                        </table>
                        <br>
                        <br>

                        <br>
                        <br>
                        {% if project_tmp.portfolio is Null and actual_projects %}
                            <div class="ttl">
                                <h2>Projects outside of portfolio</h2>
                                <span class="sexy_line"></span>
                            </div>
                            {% if user.is_superuser %}
                                <a href="{% url 'dp:new_project' %}" class="btn-gradient cyan">Create new project</a>
                            {% endif %}

                            <table id="projects_outside_a">
                                <thead>
                                <tr class="row100 head">
                                    <th class="column100 column1" data-column="column1">Name</th>
                                    <th class="column100 column2" data-column="column2">Description</th>
                                    <th class="column100 column3" data-column="column3">Manager</th>
                                    <th class="column100 column4" data-column="column4">State</th>
                                    <th class="column100 column5" data-column="column5">Used budget</th>
                                    <th class="column100 column6" data-column="column6">Plan budget</th>
                                    <th class="column100 column8" data-column="column8">Key word</th>
                                    <th class="column100 column9" data-column="column9">Analysis value (1-25)</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for project_tmp in actual_projects %}
                                    <tr class="row100">
                                        <td class="column100 column1" data-column="column1">
                                            <a href="{% url 'dp:project_detail' project_tmp.id %}">{{ project_tmp.project_name }}</a>
                                        </td>
                                        <td class="column100 column2" data-column="column2">
                                            {{ project_tmp.description }}
                                        </td>
                                        <td class="column100 column3" data-column="column3">
                                            {% if project_tmp.project_manager.id %}
                                                <a href="{% url 'dp:employee_detail' project_tmp.project_manager.id %}">{{ project_tmp.project_manager.user.first_name }} {{ project_tmp.project_manager.user.last_name }}</a>
                                            {% endif %}
                                        </td>
                                        <td class="column100 column4" data-column="column4">
                                            {{ project_tmp.get_state_display }}
                                        </td>
                                        <td class="column100 column5" data-column="column5">
                                            {{ project_tmp.used_budget }}
                                        </td>
                                        <td class="column100 column6" data-column="column6">
                                            {{ project_tmp.plan_budget }}
                                        </td>
                                        <td class="column100 column8" data-column="column8">
                                            {% for key_word in project_tmp.projectstrategy_set.all %}
                                                {{ key_word.strategy.name }}<br>
                                            {% endfor %}
                                        </td>
                                        {% if not project_tmp.optimalization == 0 %}
                                            {% with project_tmp.optimalization|mul:125|divide:25 as tmp %}
                                                {% with 0|add:tmp as val %}
                                                    <td class="column100 column9" style="">
                                                        <div class="row">
                                                            <div class="col-sm-3">{{ project_tmp.optimalization }} </div>
                                                            <div class="col-sm-3">
                                                                <div style="margin-top: 5px; width: 15px; height: 15px ; background:  hsl({{ val }},100%,50%);"></div>
                                                            </div>
                                                            {% if project_tmp.optimalization <= attractivness and project_tmp.state == '2' %}
                                                                <div class="col-sm-3" style="color: red;margin-top: 4px;">
                                                                    <i class="fas fa-exclamation-triangle"></i>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                {% endwith %}
                                            {% endwith %}
                                        {% else %}
                                            <td class="column100 column6" data-column="column6">
                                                {{ project_tmp.optimalization }}
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        <br>
                        <br>
                        {% if project_tmp.portfolio is Null and finished_projects %}
                            <div class="ttl">
                                <h2>Finished projects outside of portfolio</h2>
                                <span class="sexy_line"></span>
                            </div>

                            <table id="projects_outside">
                                <thead>
                                <tr class="row100 head">
                                    <th class="column100 column1" data-column="column1">Name</th>
                                    <th class="column100 column2" data-column="column2">Description</th>
                                    <th class="column100 column3" data-column="column3">Manager</th>
                                    <th class="column100 column4" data-column="column4">State</th>
                                    <th class="column100 column5" data-column="column5">Used budget</th>
                                    <th class="column100 column6" data-column="column6">Plan budget</th>
                                    <th class="column100 column8" data-column="column8">Key word</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for project_tmp in finished_projects %}
                                    <tr class="row100">
                                        <td class="column100 column1" data-column="column1">
                                            <a href="{% url 'dp:project_detail' project_tmp.id %}">{{ project_tmp.project_name }}</a>
                                        </td>
                                        <td class="column100 column2" data-column="column2">
                                            {{ project_tmp.description }}
                                        </td>
                                        <td class="column100 column3" data-column="column3">
                                            {% if project_tmp.project_manager.id %}
                                                <a href="{% url 'dp:employee_detail' project_tmp.project_manager.id %}">{{ project_tmp.project_manager.user.first_name }} {{ project_tmp.project_manager.user.last_name }}</a>
                                            {% endif %}
                                        </td>
                                        <td class="column100 column4" data-column="column4">
                                            {{ project_tmp.get_state_display }}
                                        </td>
                                        <td class="column100 column5" data-column="column5">
                                            {{ project_tmp.used_budget }}
                                        </td>
                                        <td class="column100 column6" data-column="column6">
                                            {{ project_tmp.plan_budget }}
                                        </td>
                                        <td class="column100 column8" data-column="column8">
                                            {% for key_word in project_tmp.projectstrategy_set.all %}
                                                {{ key_word.strategy.name }}<br>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        <br>

                        <div class="ttl">
                            <h2>All employees</h2>
                            <span class="sexy_line"></span>
                        </div>
                        <table id="employees">
                            <thead>
                            <tr class="row100 head">
                                <th class="column100 column1" data-column="column1">Name</th>
                                <th class="column100 column2" data-column="column2">Position</th>
                                <th class="column100 column1" data-column="column3">Abilities</th>

                            </tr>
                            </thead>
                            <tbody>

                            {% for employee in employee_list %}
                                <tr class="row100">
                                    <td class="column100 column1" data-column="column1">
                                        <a href="{% url 'dp:employee_detail' employee.id %}"> {{ employee.user.first_name }} {{ employee.user.last_name }} </a>
                                    </td>
                                    <td class="column100 column1" data-column="column1">
                                        {{ employee.position }}
                                    </td>

                                    <td class="column100 column1" data-column="column1">
                                        {% for ability in employee.memberability_set.all %}
                                            {% if not employee.id == user.employee.id %}
                                                {{ ability.ability.name }}{% if not forloop.last %}, {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>


                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if employee.assignedtask_set.all or user.employee.portfolio_set.all or user.employee.project_set.all or user.employee.projectmember_set.all %}
        <div class="limiter">
        <div class="container">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver1 m-b-110">
                        <div class="no-work">
                            MY WORK
                        </div>

                        {% if user.employee.portfolio_set.all %}
                            <br>
                            <br>
                            <div class="ttl">
                                <h2>Manager of following portfolios</h2>
                                <span class="sexy_line"></span>
                            </div>



                            <table >
                                <thead>
                                <tr class="row100 head">
                                    <th class="column100 column1" data-column="column1">Portfolio</th>
                                    <th class="column100 column2" data-column="column2">Active from</th>

                                </tr>
                                </thead>
                                <tbody>

                                <ul>
                                    {% for portfolio in user.employee.portfolio_set.all %}
                                        <tr class="row100">
                                            <td class="column100 column1" data-column="column1">
                                                <a href="{% url 'dp:portfolio_detail' portfolio.id %}">{{ portfolio.portfolio_name }}</a>
                                            </td>
                                            <td class="column100 column2" data-column="column2">
                                                {{ portfolio.pub_date }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </ul>
                                </tbody>
                            </table>

                        {% endif %}
                        {% if user.employee.project_set.all %}
                            <br>
                            <br>
                            <div class="ttl">
                                <h2>Manager of following projects</h2>
                                <span class="sexy_line"></span>
                            </div>

                            <table id="my_lead_pr">
                                <thead>
                                <tr class="row100 head">
                                    <th class="column100 column1" data-column="column1">Project</th>
                                    <th class="column100 column3" data-column="column3">State</th>

                                </tr>
                                </thead>
                                <tbody>

                                <ul>
                                    {% for project in user.employee.project_set.all %}
                                        {% if project.state == '3' or project.state == '5' %}
                                            <tr class="row100" style="opacity: 0.5">
                                        {% else %}
                                            <tr class="row100">
                                        {% endif %}

                                            <td class="column100 column1" data-column="column1">
                                                <a href="{% url 'dp:project_detail' project.id %}">{{ project.project_name }}</a>
                                            </td>

                                            <td class="column100 column3" data-column="column3">
                                                {{ project.get_state_display }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </ul>
                                </tbody>

                            </table>

                        {% endif %}


                        {% if user.employee.projectmember_set.all %}
                            <br>
                            <br>
                            <div class="ttl">
                                <h2>Part of following projects</h2>
                                <span class="sexy_line"></span>
                            </div>

                            <table id="my_pr">
                                <thead>
                                <tr class="row100 head">
                                    <th class="column100 column1" data-column="column1">Project</th>
                                    <th class="column100 column2" data-column="column2">Position</th>
                                    <th class="column100 column2" data-column="column2">State</th>
                                </tr>
                                </thead>
                                <tbody>

                                <ul>
                                    {% for projectmember in user.employee.projectmember_set.all %}
                                        {% if projectmember.project.state == '3' or projectmember.project.state == '5' %}
                                            <tr class="row100" style="opacity: 0.5">
                                        {% else %}
                                            <tr class="row100">
                                        {% endif %}
                                            <td class="column100 column1" data-column="column1">
                                                <a href="{% url 'dp:project_detail' projectmember.project_id %}">{{ projectmember.project.project_name }}</a>
                                            </td>
                                            <td class="column100 column1" data-column="column1">
                                                {{ projectmember.position }}
                                            </td>
                                            <td class="column100 column1" data-column="column1">
                                                {{ projectmember.project.get_state_display }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </ul>
                                </tbody>

                            </table>

                        {% endif %}



                        {% if user.employee.assignedtask_set.all %}
                            <br>
                            <br>
                            <div class="ttl">
                                <h2> Tasks to do</h2>
                                <span class="sexy_line"></span>
                            </div>



                            <table id="my_tasks">
                                <thead>
                                <tr class="row100 head">
                                    <th class="column100 column1" data-column="column1">Task name</th>
                                    <th class="column100 column2" data-column="column2">Description</th>
                                    <th class="column100 column4" data-column="column4">Project name</th>
                                    <th class="column100 column3" data-column="column3">State</th>


                                </tr>
                                </thead>
                                <tbody>

                                <ul>
                                    {% for asstask in user.employee.assignedtask_set.all %}
                                        {% if asstask.task.state == '3' or asstask.task.state == '5' %}
                                            <tr class="row100" style="opacity: 0.5">
                                        {% else %}
                                            <tr class="row100">
                                        {% endif %}
                                            <td class="column100 column1" data-column="column1">
                                                {{ asstask.task.name }}
                                            </td>
                                            <td class="column100 column2" data-column="column2">
                                                {{ asstask.task.description }}
                                            </td>
                                            <td class="column100 column4" data-column="column4">
                                                <a href="{% url 'dp:project_detail' asstask.task.in_project_id %}">{{ asstask.task.in_project.project_name }}</a>
                                            </td>
                                            <td class="column100 column3" data-column="column3">
                                                {{ asstask.task.get_state_display }}
                                            </td>


                                        </tr>
                                    {% endfor %}
                                </ul>
                                </tbody>

                            </table>
                        {% endif %}
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="no-work">
            No work in a meantime
        </div>
    {% endif %}
{% endblock %}


{% block javascript %}

    <script>
        $(document).ready(function () {
            {% if employee_count < 10 %}
                $('#employees').DataTable(
                    {"paging": false}
                );
            {% else %}
                $('#employees').DataTable();
            {% endif %}

            {% if project_count < 10 %}
                $('#projects_outside').DataTable(
                    {
                        "paging": false,
                    }
                );
            {% else %}
                $('#projects_outside').DataTable(
                    {}
                );
            {% endif %}

            {% if finished_pr_count < 10 %}
                $('#projects_outside_a').DataTable(
                    {
                        "paging": false,
                        "order": [[7, "desc"]]
                    }
                );
            {% else %}
                $('#projects_outside_a').DataTable(
                    {
                        "order": [[8, "desc"]]
                    }
                );
            {% endif %}

            {% if my_projects < 10 %}
                $('#my_pr').DataTable(
                    {
                        "paging": false,
                        "order": [[2, "desc"]]
                    }
                );
            {% else %}
                $('#my_pr').DataTable(
                    {
                        "order": [[2, "desc"]]
                    }
                );
            {% endif %}

        {% if my_lead_projects < 10 %}
                $('#my_lead_pr').DataTable(
                    {
                        "paging": false,
                        "order": [[1, "desc"]]
                    }
                );
            {% else %}
                $('#my_lead_pr').DataTable(
                    {
                        "order": [[1, "desc"]]
                    }
                );
            {% endif %}

        {% if my_tasks < 10 %}
                $('#my_tasks').DataTable(
                    {
                        "paging": false,
                        "order": [[3, "desc"]]
                    }
                );
            {% else %}
                $('#my_tasks').DataTable(
                    {
                        "order": [[3, "desc"]]
                    }
                );
            {% endif %}


        });

    </script>

{% endblock %}

