{% extends "dp/base.html" %}

{% load static %}
{% block cssblock %}
    <link rel="stylesheet" href="{% static 'dp/css/multi-select.css' %}">
{% endblock %}

{% block content %}
    <div class="container selectdiv">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-style-2">

                <div class="form-style-2-heading">Update position of member</div>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}<br>
                    <input type="submit" value="Update" style="margin-top: 10px;"/>
                </form>
                <br>
                <br>
                <br>
                 <br>
                <br>
                <br>
                <br>
                <br>
                 <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
{% endblock %}
