{% extends "dp/base.html" %}
{% load static %}
{% block cssblock %}
    <link rel="stylesheet" href="{% static 'dp/css/multi-select.css' %}">
{% endblock %}

{% block content %}
    <div class="container selectdiv">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-style-2">

                <div class="form-style-2-heading">Update task</div>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Update"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'dp/js/jquery.multi-select.js' %}"></script>
    <script>
        $('#id_employee').multiSelect()
    </script>
{% endblock %}

